.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-bar {
  background-color: black;
  height: 30px;
  margin: 0 16px;
  width: 1px;
}

.search-section input {
  width: 200px;
  background-color: #FAFAFA;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  height: 25px;
}

.search-section input::placeholder {
  text-align: center;
  color: #999999;
  letter-spacing: 1px;
}

.user-activity-section {
  display: flex;
}

.user-activity-section img {
  padding-left: 30px;
  border: 2px;
}

.user-activity-section object {
  color: red;
} 